doctype html
html.no-js(lang='')
  include partials/head
  body
    .title-wrapper
      .background
      span.title= title
    .circles-wrapper
      each circle in circles
        include partials/card

    script(src='javascript/application.js')